# Specific files/dirs to ignore for this pipeline

#Targets directry
_targets/

#All output
*/out/*
!1_fetch/out/NHDPlusv2_catchments.gpkg
!2_process/out/GFv1_NHDv2_xwalk.csv
!2_process/out/GFv1_NHDv2_xwalk_dendritic.csv
!2_process/out/GFv1_NHDv2_xwalk_omit_zero_area.csv
!2_process/out/GFv1_catchments_edited.gpkg
*/tmp/*
scratch/* 

#R files
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.DS_Store

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/